* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
  --text-primary-color: #212832;
  --text-desc-color: #696d76;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

/* common  */
.container {
  width: 1170px;
  max-width: calc(100% - 270px);
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 113px;
  min-height: 52px;
  border-radius: 8px;
  background-color: var(--text-primary-color);

  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75em; /* 175% */
}

h1.title {
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em; /* 116.667% */
}

h2.title {
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25em; /* 125% */
}

p.sub-title {
  margin-bottom: 12px;
  position: relative;
  display: flex;
  align-items: center;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75em; /* 175% */
}

p.sub-title::before {
  margin-right: 12px;
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 18px;
  height: 2px;
  background-color: #696d77;
}

p.desc {
  color: var(--text-desc-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67em; /* 166.667% */
}

/* header  */

header.header {
  padding: 42px 0 24px;
  background-color: #fff;
}

header.sticky {
  position: sticky;
  top: -18px;
  left: 0;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li {
  padding: 0 24px;
  color: var(--text-desc-color);
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75em; /* 175% */
}

.header__nav ul li.active {
  position: relative;
  color: var(--text-primary-color);
  font-weight: 600;
}

.header__nav ul li.active::before {
  position: absolute;
  left: 24px;
  bottom: 0;
  content: "";
  display: block;
  width: 47px;
  height: 1px;
  border-radius: 0.5px;
  background: #7264d6;
}

.header__nav ul li:hover {
  color: var(--text-primary-color);
}

.header__link {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.header__link .log-in {
  color: var(--text-primary-color);
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75em; /* 175% */
  flex-shrink: 0;
}

.header__link a.btn.sign-up {
  border-radius: 6px;
}
