* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
  --text-primary-color: #212832;
  --text-desc-color: #696d76;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
}

/* common  */
.container {
  width: 1170px;
  max-width: calc(100% - 270px);
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 113px;
  min-height: 52px;
  border-radius: 8px;
  background-color: var(--text-primary-color);

  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75em; /* 175% */
}

h1.title {
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em; /* 116.667% */
}

h2.title {
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25em; /* 125% */
}

p.sub-title {
  margin-bottom: 12px;
  position: relative;
  display: flex;
  align-items: center;
  color: #696d77;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75em; /* 175% */
}

p.sub-title::before {
  margin-right: 12px;
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 18px;
  height: 2px;
  background-color: currentColor;
}

p.desc {
  color: var(--text-desc-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67em; /* 166.667% */
}

/* header  */

header.header {
  padding: 42px 0 24px;
  background-color: #fff;
}

header.sticky {
  position: sticky;
  top: -18px;
  left: 0;
  z-index: 99;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li {
  padding: 0 24px;
  color: var(--text-desc-color);
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75em; /* 175% */
}

.header__nav ul li.active {
  position: relative;
  color: var(--text-primary-color);
  font-weight: 600;
}

.header__nav ul li.active::before {
  position: absolute;
  left: 24px;
  bottom: 0;
  content: "";
  display: block;
  width: 47px;
  height: 1px;
  border-radius: 0.5px;
  background: #7264d6;
}

.header__nav ul li:hover {
  color: var(--text-primary-color);
}

.header__link {
  margin-left: auto;
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.header__link .log-in {
  color: var(--text-primary-color);
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75em; /* 175% */
  flex-shrink: 0;
}

.header__link a.btn.sign-up {
  border-radius: 6px;
}

/* hero  */

.hero {
  margin-top: 52px;
}

.hero__content {
  display: flex;
  column-gap: 60px;
}

.hero__info {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title span {
  color: #7264d6;
}

.hero__desc {
  margin-top: 20px;
}

.hero__media {
  position: relative;
  width: 49%;
}

.hero__mail {
  margin-top: 40px;
  position: relative;
}

.hero__mail input {
  padding: 23px;
  width: 100%;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  border: none;
}

.hero__mail button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 149px;
  height: 58px;
  border-radius: 8px;
  background: #7264d6;
  color: #fff;
  font-weight: 600;
  line-height: 1.75em; /* 175% */
}

.hero__note {
  margin-top: 20px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.71em; /* 171.429% */
}

.hero__mobile {
  margin-left: 100px;
}

.hero__deposite {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: 113px;
  left: 0;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__deposite-text:first-of-type {
  margin-left: 8px;
  margin-right: 19px;
  color: #31456a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.hero__deposite-text:last-of-type {
  color: #4ab5e3;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

.hero__secured {
  display: flex;
  column-gap: 11px;
  padding: 20px 14px;
  position: absolute;
  bottom: 61px;
  right: 100px;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
}

.hero__secured-text:first-of-type {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.hero__secured-text:last-of-type {
  margin-top: 5px;
  color: #fff;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

.hero__interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 127px;
  right: 0;
  width: 130px;
  height: 130px;
  background-color: #da6464;
  border-radius: 50%;
}

.hero__interest-text:first-of-type {
  color: #fff;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero__interest-text:last-of-type {
  margin-top: -5px;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* work  */

.work {
  margin-top: 160px;
}

.work__content {
  display: flex;
  column-gap: 130px;
}

.work__media {
  position: relative;
  width: 49%;
}

.work__media::after {
  content: url(../img/work-bg.svg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.work__img {
  position: relative;
  z-index: 1;
  width: 456px;
  height: 619px;
  object-fit: cover;
}

.work__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 76px;
  right: 162px;
  z-index: 1;
  width: 64px;
  height: 64px;
  background-color: #7264d6;
  border-radius: 8px;
}

.work__congratulation {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 96px;
  right: 0;
  z-index: 1;
  padding: 15px;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__congra-text:first-of-type {
  color: #212832;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.work__congra-text:last-of-type {
  margin-top: 5px;
  color: #696d76;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.work__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-box {
  margin-top: 70px;
}

.work__step {
  margin-bottom: 16px;
  color: #212832;
  font-family: "Open Sans";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.45em; /* 145.455% */
}

.work__desc {
  margin-bottom: 30px;
  color: #696d76;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75em; /* 175% */
}

/* payment  */

.payment {
  margin-top: 160px;
}

.payment__content {
  display: flex;
  column-gap: 130px;
}

.payment__info {
  width: 40%;
}

.payment__desc {
  margin-top: 20px;
}

.payment__list {
  margin-top: 28px;
}

.payment__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.66em; /* 166.667% */
}

.payment__item::before {
  margin-right: 12px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #7264d6;
  border-radius: 50%;
}

a.btn.payment__btn {
  margin-top: 20px;
  width: 149px;
  height: 58px;
}

.payment__media {
  position: relative;
  width: 49%;
}

.payment__media::after {
  content: url(../img/payment-card.svg);
  position: absolute;
  left: 0;
  top: 86px;
  z-index: -1;
}

.payment__card:first-of-type {
  padding: 0 13px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 38px;
  right: 0;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.payment__plane {
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #fbf0ef;
  border-radius: 8px;
}

.payment__row-card1 {
  display: flex;
  column-gap: 67px;
  flex-shrink: 0;
}

.payment__row-card1 .col:first-child p:first-child {
  color: var(--text-primary-color);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.payment__row-card1 .col:first-child p:last-child {
  margin-top: 4px;
  color: var(--text-desc-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment__row-card1 .col:last-child p:first-child {
  color: var(--text-primary-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment__row-card1 .col:last-child p:last-child {
  margin-top: 4px;
  color: var(--text-desc-color);
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment__card:nth-of-type(2) {
  padding: 14px;
  position: absolute;
  right: 0;
  bottom: 38px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
}

.payment__income {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 8px;
}

.payment__card:nth-of-type(2) p:first-of-type {
  margin-top: 14px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment__card:nth-of-type(2) p:last-child {
  margin-top: 6px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.payment__user-info {
  padding: 38px;
  position: absolute;
  left: 0;
  top: 86px;
  width: 482px;
  height: 322px;
}

.payment__name-card {
  color: #fff;
  font-family: "Open Sans";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment__balance {
  margin-top: 10px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.payment__row {
  margin-top: 98px;
  display: flex;
  column-gap: 26px;
}

.payment__col:first-child p:first-child {
  color: #fff;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.payment__col:first-child p:last-child {
  margin-top: 4px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.payment__col:last-child p:first-child {
  color: #fff;
  font-family: "Open Sans";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.payment__col:last-child p:last-child {
  margin-top: 4px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* transfer  */

.transfer {
  padding: 160px 0;
}

.transfer__content {
  display: flex;
  column-gap: 130px;
}

.transfer__media {
  position: relative;
  width: 49%;
  flex-shrink: 0;
}

.transfer__bg {
  width: 82%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.transfer__img {
  width: 72%;
  display: block;
  position: relative;
  bottom: 0;
  left: 29px;
}

.transfer__currency-unit {
  width: 90px;
  height: 90px;
  background-color: #7264d6;
  border-radius: 50%;
  position: absolute;
  top: 288px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transfer__card {
  padding: 28px;
  position: absolute;
  top: 323px;
  right: 0;
  width: 281px;
  height: 220px;
  background-color: #fff;
  border-radius: 8px;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.transfer__card p {
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67em; /* 166.667% */
}

.transfer__card-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

.transfer__card-list img {
  width: 100%;
}

.transfer__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transfer__desc {
  margin-top: 20px;
  margin-bottom: 10px;
}

.transfer__item {
  display: flex;
  align-items: center;
  margin-top: 18px;
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67em; /* 166.667% */
}

.transfer__item::before {
  margin-right: 12px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #7264d6;
  border-radius: 50%;
}

a.btn.transfer__btn {
  margin-top: 38px;
  width: 149px;
  height: 58px;
}

/* clients  */

.clients {
  text-align: center;
  padding-bottom: 160px;
}

.client__sub-title {
  justify-content: center;
}

p.client__desc {
  font-size: 1.6rem;
  line-height: 1.75em;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
}

.client__list {
  margin-top: 70px;
  display: flex;
  column-gap: 30px;
}

.client__item {
  width: calc(50% -15px);
}

.client__feedback {
  position: relative;
  padding: 42px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dfe2e8;
  color: var(--text-desc-color);
  text-align: center;
  font-family: "Open Sans";
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54em; /* 154.545% */
}

.client__feedback:hover {
  border-color: transparent;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client__feedback:hover.client__feedback::before {
  border-color: transparent;
}

.client__feedback::before {
  position: absolute;
  z-index: -2;
  bottom: -25px;
  left: calc(50% - 31px);
  transform: skew(30deg);
  rotate: 59deg;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dfe2e8;
}

.client__feedback::after {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 30px);
  content: "";
  width: 56px;
  height: 1px;
  background-color: #fff;
}

.client__avt {
  margin-top: 86px;
  margin-left: auto;
  margin-right: auto;
  width: 102px;
  height: 102px;
  background-color: #4ab5e3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.client__img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.client__avt:nth-of-type(2) .client__img {
  width: 150%;
  height: 150%;
  margin-top: 5px;
}

.client__name {
  margin-top: 20px;
  color: #070052;
  font-family: "Open Sans";
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38em; /* 138.462% */
}

.client__job {
  margin-top: 2px;
  color: var(--text-desc-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67em; /* 166.667% */
}

.client__nav {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.client__nav-item {
  width: 20px;
  height: 4px;
  border: 1px solid #9b9fab;
  border-radius: 1px;
  cursor: pointer;
}

.client__nav-item.active {
  background-color: #7264d6;
  border-color: #7264d6;
}

/* updates  */

.updates {
  padding-bottom: 160px;
}

.update__top {
  display: flex;
  align-items: center;
}

.update__top-right {
  margin-left: auto;
}

p.update__desc {
  font-size: 1.6rem;
  line-height: 1.75em;
  margin-top: 18px;
  width: 435px;
}

a.btn.update__btn {
  width: 123px;
  height: 58px;
}

.update__bottom {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.update__post {
  display: flex;
  column-gap: 22px;
  width: 100%;
  padding: 28px;
  border: 1px solid #dfe2e8;
  border-radius: 12px;
}

.update__img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 12px;
}

.update__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update__date {
  color: var(--text-desc-color);
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71em; /* 171.429% */
}

.update__main-content {
  margin-top: 10px;
  color: var(--text-primary-color);
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67em; /* 166.667% */
}

.update__link {
  margin-top: 20px;
  color: #7264d6;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.62em; /* 162.5% */
}

/* download  */

.download {
  padding-bottom: 100px;
  color: #fff;
}

.download__bg {
  position: relative;
  padding: 100px 0;
  background-color: var(--primary-color);
  border-radius: 24px;
}

p.download__sub-title {
  color: #fff;
  justify-content: center;
}

h2.title.download__title {
  color: #fff;
  text-align: center;
}

p.desc.download__desc {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 435px;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.75em;
}

.download__link {
  margin-top: 38px;
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.download__decor img:nth-child(1) {
  position: absolute;
  top: 49px;
  left: 112px;
}

.download__decor img:nth-child(2) {
  position: absolute;
  bottom: 49px;
  left: 166px;
}

.download__decor img:nth-child(3) {
  position: absolute;
  top: 49px;
  right: 112px;
}

.download__decor img:nth-child(4) {
  position: absolute;
  bottom: 49px;
  right: 166px;
}

/* footer  */

.footer {
  padding-top: 100px;
  background-color: #fafbff;
}

.footer__top {
  display: flex;
  column-gap: 163px;
}

.footer__item {
  margin-bottom: 12px;
  color: #6a6e78;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67em; /* 166.667% */
}

.footer__item:first-child {
  margin-bottom: 24px;
  color: var(--text-primary-color);
  font-weight: 600;
}

.footer__form {
  margin-top: 48px;
}

.footer__form label {
  margin-bottom: 24px;
  display: inline-block;
  color: #0a142f;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67em; /* 166.667% */
}

.footer__row {
  display: flex;
}

.footer__mail {
  margin-right: 20px;
  padding: 12px;
  width: 66%;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #8e919a;
}

.footer__mail::placeholder {
  color: #8e919a;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75em; /* 175% */
}

.footer__btn {
  width: 113px;
  height: 52px;
  border-radius: 6px;
  background: #7264d6;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75em; /* 175% */
}

.footer__bottom {
  margin-top: 54px;
  margin-bottom: 28px;
  display: flex;
  column-gap: 100px;
}

.footer__bottom p {
  color: #6a6e78;
  font-family: "Open Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67em; /* 166.667% */
  text-decoration-line: underline;
}

p.license {
  padding: 28px 0;
  background-color: #7264d6;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75em; /* 175% */
}
